/* 폰트 소스 경로  */
@import url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff');
@import url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff');
@import url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff');

/* 넥슨 Lv.1 고딕 - 기본 폰트 */
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
  
/* 원모바일 - 가격 폰트 */
@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 어그로체 - 로고 폰트 */
@font-face {
  font-family: 'SBAggroB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import 'tailwindcss';

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  margin: 0;
  padding: 0;
}

@theme {
  /* 색상 */
  --color-main: #0ac483;
  --color-main-light: #41fab9;
  --color-main-dark: #07a36c2

  --color-pos: #fa0015;
  --color-neg: #000cfa;
  --color-market-code: #8c8b88;
  --color-list-hover: #e1e3e1;

  /* 폰트 */
  --font-pretendard: 'Pretendard';
  --font-ng: 'NEXON Lv1 Gothic OTF';
  --font-onetitle: 'ONE-Mobile-Title';
  --font-aggro: 'SBAggroB';

  /* 화면 */
  --select-1120: '1120px';

  /* 텍스트 그림자 */
  --text-shadow-black: 0 2px 4px rgba(0, 0, 0, 0.8);
  --text-shadow-none: none;

  /* 박스 그림자 */
  --shadow-main: 0px 3px 10px #07a36c;

  /* 마키 */
  --animate-marqueeX-1: marqueeX-1 20s linear infinite;
  --animate-marqueeX-2: marqueeX-2 20s linear infinite;
  --animate-marqueeY: marqueeY 5s linear infinite;

  @keyframes marqueeX-1 {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-100%);
    }

    50.01% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes marqueeX-2 {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-200%);
    }
  }
    
  @keyframes marqueeY {
      0% { opacity: 0; transform: translateY(20px); }    
      10% { opacity: 1; transform: translateY(0); }
      90% { opacity: 1; transform: translateY(0); }
      100% { opacity: 0; transform: translateY(-20px); }
  }

  /* 리니어 프로그레스바 */
  --animate-linearProgress1: linearProgress1 2s infinite ease;
  --animate-linearProgress2: linearProgress2 2.5s infinite ease;
  
  @keyframes linearProgress1 {
    0% {
      left: -35%;
      right: 100%;
    }
    60% {
      left: 100%;
      right: -35%;
    }
    100% {
      left: 100%;
      right: -35%;
    }
  }
  
  @keyframes linearProgress2 {
    0% {
      left: -200%;
      right: 100%;
    }
    60% {
      left: 107%;
      right: -8%;
    }
    100% {
      left: 107%;
      right: -8%;
    }
  }
}