/* 폰트 소스 경로  */
@import url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff');
@import url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff');
@import url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff');

/* 넥슨 Lv.1 고딕 - 기본 폰트 */
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
  
/* 원모바일 - 가격 폰트 */
@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 어그로체 - 로고 폰트 */
@font-face {
  font-family: 'SBAggroB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import 'tailwindcss';

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  margin: 0;
  padding: 0;
}

@theme {
  /* 폰트 */
  --font-pretendard: 'Pretendard';
  --font-ng: 'NEXON Lv1 Gothic OTF';
  --font-onetitle: 'ONE-Mobile-Title';
  --font-aggro: 'SBAggroB';

  /* 색상 */
  --color-main: #0ac483;
  --color-main-light: #41fab9;
  --color-main-dark: #07a36c;

  --color-positive: var(--color-red-500);
  --color-negative: var(--color-blue-500);
  --color-market-code: var(--color-gray-400);
  --color-list-hover: var(--color-gray-100);

  /* 화면 */
  --select-1120: '1120px';

  /* 텍스트 그림자 */
  --text-shadow-black: 0 2px 4px rgba(0, 0, 0, 0.8);
  --text-shadow-none: none;

  /* 박스 그림자 */
  --shadow-main: 0px 3px 10px var(--color-main-dark);

  /* 무한 마키 */
  --animate-marquee: marquee 20s linear infinite;
  --animate-marquee2: marquee2 20s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100%);
    }
    50.01% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
}

@layer components {
  .font-title-primary {
    @apply font-onetitle text-5xl
  }

  .font-description {
    @apply font-pretendard font-bold text-sm
  }

  .font-navbar-mrcryp {
    @apply font-aggro font-bold italic text-2xl text-white text-shadow-black
  }

  .font-navbar-button {
    @apply font-onetitle font-bold text-xl text-white text-shadow-black
  }
}